@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>SQRL Test Login</h1>
                <h2>Use this page to test SQRL logins.</h2>
            </hgroup>
            <p>
                To learn more about SQRL visit 
                <a href="http://grc.com/sqrl/sqrl.htm" title="SQRL at GRC">http://grc.com/sqrl/sqrl.htm</a>.
            </p>
        </div>
    </section>
}
<h3>You can test a SQRL login by:</h3>
<ol class="round">
    <li class="one">
        <h5>Download a SQRL client.</h5>
        You can download a Windows based client using the link below.
        <a href="@Url.Content("~/downloads/SqrlClient.exe")">Download Here…</a>
    </li>

    <li class="two">
        <h5>Click the "Login" link above.</h5>
        You will be presented with a QR code which you will use to login.
    </li>

    <li class="three">
        <h5>Login using the QR code or SQRL URL and your SQRL app.</h5>
        Oh... and profit!
    </li>
</ol>
